  <div id='disp-area'>
    <% @movies.each do |movie| %>
      <div class='disp-unit'>
        <div class='disp-img'>
          <img src='<%= movie.thumbnails.first['url'] if (movie.thumbnails && !movie.thumbnails.empty? && movie.thumbnails.first['url'])%>'/> 
        </div>
        <div class='disp-title'>
          <a href="<%= "http://localhost:3000"+movie_path(movie.id) %>"><%= movie.name %></a>
        </div>
        <div class='disp-desc'> <%= truncate(movie.desc, :length => Random.rand(200)) %> </div>
      </div>
    <% end %>
  </div>
