<!DOCTYPE html>
<html>
<head>
  <title>Looneytales</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="menu-container">
      <ul>
        <li class="menu-item"><a href="/"><span>Home</span></a></li>
        <li class="menu-item"><a href="/hindi"><span>Hindi</span></a></li>
        <li class="menu-item"><a href="/telugu"><span>Telugu</span></a></li>
        <li class="menu-item"><a href="/tamil"><span>Tamil</span></a></li>
<!--
        <li class="menu-item"><span>Malayalam</span></li>
        <li class="menu-item"><span>Kannada</span></li>
        <li class="menu-item"><span>Bengali</span></li>
        <li class="menu-item"><span>Marathi</span></li>
        <li class="menu-item"><span>Bhojpuri</span></li>
-->
      </ul>
    </div>
  </div>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
